# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/s0100
[Bb]in/   0
Målet
# Other files and folders 0100
.settings/task

# Executables LP/.
*.swf           500
*.airlet
*.ipa.             Saltlevengruppe
*.apk               Opfylding/brain
                     2000
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
     Strøm

                Kotemcuplaration
